[Desktop Entry]
Encoding=UTF-8
Name=Ltx
Comment=Ltx P2P Cryptocurrency
Comment[fr]=Ltx, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Ltx, eşten eşe kriptografik sanal para birimi
Exec=ltx-qt %u
Terminal=false
Type=Application
Icon=ltx128
MimeType=x-scheme-handler/ltx;
Categories=Office;Finance;
